@page "/"
@namespace Howest.MagicCards.Web.Components.Pages
@using Howest.MagicCards.Web.Components
@using Howest.MagicCards.Shared.DTO
@using Howest.MagicCards.Shared.ViewModels
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.Extensions.Options

<div class="app">
    <div class="cards">
       <FielterForm 
        CardFilterViewModel="@_cardFilterViewModel"
        OnSubmit="@ShowAllCards">
        </FielterForm>

        <CardList @ref="cardListRef"
                  CardFilterViewModel="@_cardFilterViewModel"
                  AddCardToDeckCallback="AddCardToDeck">
        </CardList>

        
    </div>

    <DeckEditor @ref="deckEditorRef"></DeckEditor>

</div>